@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

.text-header
{
    font-family: 'Poppins', sans-serif, Arial;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.R-text
{
    color: #202020;
}

body
{
    background-size: cover;
    background-position: center center;
    background-color: #E9E9E9;
}

.botao input
{
    margin-right: 20px;
    position: inherit;
    opacity: 0;
    cursor: default;
}

.invisible
{
    width: 50px;
}

.invisible img
{
    height: 50px; /*antes era 38.75px*/
    width: 50px;
    /* margin-top: 13px; */
    margin-left: 25px;
    position: relative;
}

header
{
    background: #FFF500;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label img
{
    width: 40px;
    height: 40px;
    border:2px solid #202020;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    box-shadow: inset #FFF500 30px 30px;
}

.botao
{
    margin-top: -13px;
    margin-right: 25px;
    position: relative;
    cursor: default;
}

nav
{
    margin-top: 90px;
    padding: 15px;
}

.R-text-nav
{
    color: #FFF500;
}

.f1 /*FRASE 1*/
{
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.disponiveis
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.cursos
{
    margin-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cursoText
{
    color: #202020;
    text-shadow: 0px 3px 5px rgba(0,0,0,0.58);
    font-weight: 600;
}

.cursoSelf
{
    height: 260px;
    width: 260px;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    align-items: center;
}

a
{
    text-decoration: none;
}

.cursoSelf img
{
    margin-top: 20px;
    height: 186px;
    width: 240px;
}

.nameCurso
{
    color: #000;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

/* MIDIAS GRANDES */
@media  (min-width:740px)
{

    .f1
    {
        text-align: center;
        font-size: 40px;
    }

    .cursoText
    {
        font-weight: 500;
        font-size: 32px;
    }

    .disponiveis
    {
        flex-direction: row;
        gap: 75px;

    }

    .cursoSelf:hover
    {
        transform: scale(1.1);
        transition: 0.2s;
    }
}


/* DARK MODE */

html[dark] body
{
    background-color: #1E1E1E;
}

html[dark] header
{
    background-color: #404040;
}

html[dark] .R-text
{
    color: #FFF500;
}

/* TESTING... */
/* html[dark] .text-header
{
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #000000;
} */

html[dark] .label img
{
    box-shadow: inset #404040 30px 30px;
    border:2px solid #FFFFFF;
}

html[dark] .cursoText
{
    color: #FFF500;
}

html[dark] .f1
{
    color: #FFF;
}
